@font-face {
	font-family:"Raleway";
	src: url("img/Raleway.ttf");
}

body {
	display:block;
	font-family: Raleway, Georgia, Sans-serif;
	margin:0;
}

#contenant_menu_desktop {
	display: flex;
	flex-direction: row;
	height:65px;
	width:100%;
}

#contenant_menu_mobile {
	display:none;
}

.mon_nom {
	margin:0 0 0 200px;
    z-index:3;
    padding:7px;
}

.header_nav_desktop {
	margin-right:200px;
}

header, nav {
	background-color: #1F618D;
	color:#ffffff;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width:100%;
	margin:0;
}

.lien_header {
    text-decoration:none;
    color:#FFFFFF;	
}

.nav a {
	text-decoration: none;
	color:#ffffff;
	padding: 5px;
}

ul {
	list-style-position: inside;
}

.intro {
	color:#1F618D;
	margin:50px 200px 70px 200px;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

.lien_plaquette {
	text-decoration: none;
}

.contenant_cta_cv {
	margin-top:45px;
}

.cta_cv {
	background-color:#1F618D;
	color:#ffffff;
	font-weight: bold;
	border-radius:7px;
	padding:18px;
	text-decoration:none;
}

.bold {
	font-weight:bold;
}

.image_couv {
	width:480px;
	margin-top:70px;
}

.soustitre {
	text-align:center;
}

.texte_reconversion {
	text-align:justify;
	margin:auto;
	padding-bottom: 20px;
	width:650px;
}

.contenant_exp {
	width:850px;
	margin:auto;
	margin-top:30px;
	margin-bottom:30px;
	border-bottom: #DCDCDC solid 1px;
	display:flex;
	flex-direction:row;
}

.titre_exp {
	font-weight:bold;
	color:#1F618D;
	text-align:left;
	margin:0;
}

.soustitre_exp {
	color:#696969;
	text-align:left;
	margin:0;
	padding-bottom:10px;
}

.text_exp {
	text-align:left;
	margin:0;
}

.liste_exp {
	text-align:left;
	background-color:#DCDCDC;
	padding:10px;
	margin:auto;
	width:650px;
}

.img_exp {
	width:160px;
	margin:auto;
}

.img_formation {
	width:110px;
	margin:auto;
}


.videos {
	width:200px;
	padding:10px;
	margin:auto;
}

.contenant_loisirs {
	margin:auto;
}

footer {
	background-color: #1F618D;
	color:#ffffff;
}

.texte_footer {
	margin: 0 200px 0 200px;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

.contact {
	margin:0;
	color:#FFFFFF;
	text-decoration: none;
}



@media all and (max-width: 1024px) {

#contenant_menu_desktop {
	display:none;
}

#contenant_menu_mobile {
	display:block;
}

.header_nav_desktop {
	margin-right:0;
}

.mon_nom {
	margin-left:75px;
	font-size:2.7em;
	padding-top:30px;
}

#menu_mobile {
 	position: relative;
 	top: -46px;
 	z-index: 1;
 	-webkit-user-select: none;
 	user-select: none;
}

.intro {
	color:#1F618D;
	margin:0 25px 0 25px;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}

.titres_mobile {
	text-decoration: none;
	color:#ffffff;
}

#menu_mobile input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: 20px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menu_mobile span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  right:-25px;
  
  background: #FFFFFF;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}


#menu_mobile span:first-child
{
  transform-origin: 0% 0%;
}

#menu_mobile span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menu_mobile input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menu_mobile input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menu_mobile input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#nav_mobile
{
  position: fixed;
  width: 250px;
  margin: -100px 0 0 30px;
  padding: 15px;
  padding-top: 115px;
  text-align:left;
  left:-30px;
  background: #1F618D;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate( -100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#nav_mobile li
{
  padding: 10px 0;
  font-size: 22px;
}

#menu_mobile input:checked ~ ul
{
  transform: none;
}

.display_mobile {
	display:flex;
	flex-direction: column;
}

.contenant_cta_cv {
	margin:auto;
	padding:40px;
}

.image_couv {
	width:480px;
	margin:auto;
	padding-top:50px;
}

.texte_reconversion {
	width:800px;
}

.img_exp {
	padding-bottom:15px;
}

.contenant_exp {
	display:flex;
	flex-direction: column;
}

.texte_footer {
	font-size:2em;
	display:flex;
	flex-direction: column;
}

}